
<h2 class="small font-weight-bold mb-1">Your Hand</h2>
<div class="border d-flex flex-wrap align-items-center justify-content-center" style="min-height: 300px">
  <div class="dominion-card">
      <img src="/assets/images/Moat.jpg">
  </div>

  <div class="dominion-card">
      <img src="/assets/images/Cellar.jpg">
  </div>

  <div class="dominion-card">
      <img src="/assets/images/Village.jpg">
  </div>

  <div class="dominion-card">
      <img src="/assets/images/Remodel.jpg">
  </div>


  <div class="dominion-card">
      <img src="/assets/images/Market.jpg">
  </div>


</div>