
<h2 class="font-weight-light my-2">Your Hand</h2>


<div>
    <div class="lead" *ngIf="!game.isPlayersTurn()">
        <p class="lead">
            Waiting for your opponent to finish their turn...
        </p>
    </div>

    <div class="lead" *ngIf="game.state.phase == 'action' && game.isPlayersTurn()">
        You can take {{ game.getPlayer().actions }}
        action{{game.getPlayer().actions == 1 ? '' : 's'}}.

        <span *ngIf="game.getPlayer().actions > 0">
            If you wish, select an action card to play.
        </span>
        <br>
        <button class="btn btn-primary my-2" (click)="game.endActions()">End Actions</button>
    </div>

    <div class="lead" *ngIf="game.state.phase == 'buy' && game.isPlayersTurn()">
        You have {{ game.getPlayer().coins }}
        coin{{game.getPlayer().coins == 1 ? '' : 's'}} and can buy up to
        {{ game.getPlayer().buys }} card{{game.getPlayer().buys == 1 ? '' : 's'}}.
        <br>
        <button class="btn btn-primary my-2" (click)="game.endTurn()">End Turn</button>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-center">
        <app-card
            *ngFor="let card of game.getPlayer().hand"
            [card]="card">
        </app-card>
    </div>

</div>

