{% extends 'base.html' %}
{% block content %}

  <div class="jumbotron jumbotron-fluid main-bg m-0">
    <div class="container text-center text-light">
      <h1 class="display-4">Reset Your Password</h1>
        <p class="lead">Please enter your email address.</p>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <p>{{ form.email }}</p>
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
  </div>

{% endblock %}