
<h2 class="small font-weight-bold mb-1">Chat Messages</h2>
<textarea class="form-control rounded-0 border-0" style="background-color: #555;" rows="4" readonly></textarea>

<div class="input-group">
  <input type="text" class="form-control rounded-0 border-0" style="background-color: #999;" placeholder="Enter a message" aria-label="Enter a message" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-sm btn-success rounded-0" type="button">Send</button>
  </div>
</div>