{% extends 'base.html' %}
{% load static %}

{% block additional_stylesheets %}
  <base href="/static/game/">
  <link rel="stylesheet" href="{% static 'game/styles.css' %}">
{% endblock %}

{% block content %}
  <app-root
    game-id="{{ game.id }}"
    user-id="{{ user.id }}"
    user-name="{{ user.username }}"
    players="{{game.player_1.username}},{{game.player_2.username}}"
    endpoint="/api/game/{{ game.id }}">
  </app-root>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'game/runtime.js' %}"></script>
    <script src="{% static 'game/polyfills.js' %}"></script>
    <script src="{% static 'game/main.js' %}"></script>
{% endblock %}

