
{% extends 'core/base.html' %}

{% block content %}
  <div class="container text-center">

      <h1 class="display-4">Sign up</h1>
      <form method="post" class="login-form mt-3 ">
        {% csrf_token %}
        {% for field in form %}
          <p>
            <label for="{{ field.id_for_label }}" class="sr-only">
              {{ field.label }}
            </label>

            {{ field }}

            {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">
          Sign up
        </button>
      </form>
  </div>
{% endblock %}